/*Body*/
body {
    margin:auto;
    height:3000px;
    overflow-x:hidden;
}
/*Body*/

/*Header*/
header {
    width:100%;
    height:60px;
    background-color:rgba(255, 255, 255, 0.788);
    box-shadow:5px 0px 10px #000;
    position:fixed;
    z-index:1;
}

header img {
    width:40px;
    height:40px;
    margin-left:10px;
    margin-top:10px;
}

#button {
    width:60px;
    height:60px;
    background:url('https://static.thenounproject.com/png/547157-200.png');
    background-repeat:no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
    right:0;
}
/*Header*/

/*Contenido*/
main {
    width:100%;
    height:2690px;
    margin-top:60px;
    display:inline-table;
}

.content {
    width:75%;
    height:100%;
}

.content > h1 {
    margin-left:20px;
    margin-top:20px;
    font-family:'Franklin Gothic Medium';
    font-size:50px;
}

.jsContent {
    width:100%;
    height:50%;
    border-top:5px solid #000;

}

.JQContent {
    width:100%;

    border-top:5px solid #000;
}

.asideMenu {
    width:25%;
    height:100%;
    margin-top:60px;
    background-color:rgba(172, 172, 172, 0.37);
    backdrop-filter:blur(5px);
    position:fixed;
    right:-25%;
    top:0px;
    transition-duration:.5s;
}

.asideMenu ol {
    margin:0px 0px 0px 10px;
    padding:0;
}

.asideMenu ol li {
    list-style:none;
    margin-bottom:20px;
    cursor: pointer;
}

.asideMenu h3 {
    margin-left:20px;
    margin-top:20px;
    font-family:'Franklin Gothic Medium';
    font-size:40px;
}

#list li {
    margin-left:20px;
    font-family:'Franklin Gothic Medium';
    font-size:15px;
}

#list:nth-child(0) ul {
    margin:0;
    padding:0;
}

#list:nth-child(0) ul li {
    margin:0;
    padding:0;
}

.asideMenu ol:nth-child(1) {
    color:red;
}
/*Contenido*/

/*Footer*/
footer {
    width:100%;
    height:250px;
    background-color:black;
}
/*Footer*/

/*Clases dinamicas*/
.menuDesplegado {
    width:25%;
    height:100%;
    background-color:rgba(172, 172, 172, 0.37);
    margin-top:60px;
    position:fixed;
    right:0;
    top:0px;
    transition-duration:.5s;
}
/*Clases dinamicas*/

/*Keyframes*/

/*Keyframes*/
